@model CONTROL_HERRAMIENTA_SUNCORP.Models.Proveedor

@{
    ViewBag.Title = "registrarproveedor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top:30px">
    <div class="col-sm-12 text-center">
        <!-- Agregué la clase text-center -->
        <div class="panel panel-warning" style="display: inline-block;">
            <!-- Agregué display: inline-block -->
            <div class="panel-heading">
                <h4>NUEVO PROVEEDOR</h4><br />
            </div>
            <div class="panel-body">
                <form action="@Url.Action("registrarproveedor","Proveedor")" method="post">
                    <div class="form-group">
                        <div class="form-label">

                            <label>RTN</label>

                            <input type="text" class="form-control" name="RTN" required /><br />

                            <label>Nombre proveedor</label>

                            <input type="text" class="form-control" name="NOMBRE_PROVEEDOR" required><br />

                            <label>Correo electronico</label>

                            <input type="text" class="form-control" name="CORREO_ELECTRONICO" required /><br />
                        </div>
                    </div>
                    @if (ViewData["MENSAJEPROVEEDOR"] != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            @ViewData["MENSAJEPROVEEDOR"]
                        </div>
                    }

                    <button type="submit" class="btn btn-primary">Registrar</button>
                    <a class="btn btn-warning" href="@Url.Action("Proveedor","Proveedor")">Volver</a>

                </form>


            </div>
        </div>


    </div>
</div>


