@model CONTROL_HERRAMIENTA_SUNCORP.Models.Sucursal

@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top:30px">
    <div class="col-sm-12">

        <div class="panel panel-warning">
            <div class="panel-heading">
                <h4>NUEVA SUCURSAL</h4>
            </div>
            <div class="panel-body">
                <form action="@Url.Action("Crear","Sucursal")" method="post">


                    <div class="form-group">
                        <label>Nombre sucursal</label>
                        <input type="text" class="form-control" name="NOMBRE_SUCURSAL" required/>
                    </div>

                    <div class="form-group">
                        <label>Correo electronico</label>
                        <input type="text" class="form-control" name="CORREO_ELECTRONICO" required />
                    </div>

                    <div class="form-group">
                        <label>Direccion</label>
                        <input type="text" class="form-control" name="DIRECCION" required />
                    </div>

                    <div class="form-group">
                        <label for="ID_EMPRESA">Empresa</label>
                        @Html.DropDownListFor(model => model.ID_EMPRESA, (SelectList)ViewBag.iEmpresas, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <label>Comentario</label>
                        <input type="text" class="form-control" name="COMENTARIO" />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>

                    @if (ViewData["MENSAJESUCURSAL"] != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            @ViewData["MENSAJESUCURSAL"]
                        </div>
                    }

                    <button type="submit" class="btn btn-primary">Registrar</button>
                    <a class="btn btn-warning" href="@Url.Action("sucursal","Sucursal")">Volver</a>

                </form>


            </div>
        </div>
    </div>
</div>
