@model CONTROL_HERRAMIENTA_SUNCORP.Models.Factura

@{
    ViewBag.Title = "Eliminarfactura";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top:30px">
    <div class="col-sm-12 text-center">
        <!-- Agregué la clase text-center -->
        <div class="panel panel-warning" style="display: inline-block;">
            <!-- Agregué display: inline-block -->
            <div class="panel-heading">
                <h4>ELIMINAR FACTURA</h4><br />
            </div>
            <div class="panel-body">
                <div class="alert alert-danger">
                    ¿Desea eliminar la factura @Html.DisplayTextFor(m => m.NUMERO_FACTURA) ?
                </div>

                <form action="@Url.Action("Eliminarfactura","Factura")" method="post">
                    <input type="hidden" class="form-control" name="Idfactura" value="@Html.DisplayTextFor(m => m.ID_FACTURA)" />

                    <button type="submit" class="btn btn-danger">Eliminar</button>
                    <a class="btn btn-warning" href="@Url.Action("FACTURA","Factura")">Volver</a>
                </form>

            </div>
        </div>


    </div>
</div>


