@model CONTROL_HERRAMIENTA_SUNCORP.Models.Factura

@{
    ViewBag.Title = "Registrarfactura";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top:25px">
    <div class="col-sm-12 text-center">
        <!-- Agregué la clase text-center -->
        <div class="panel panel-warning" style="display: inline-block;">
            <!-- Agregué display: inline-block -->
            <div class="panel-heading">
                <h4>NUEVA FACTURA</h4><br />
            </div>
            <div class="panel-body">
                <form action="@Url.Action("Registrarfactura", "Factura")" enctype="multipart/form-data" method="post">

                    <div class="form-group">
                        <label style="font-weight: bold;">Numero factura</label>
                        <input type="text" class="form-control" name="Numero_factura" required /><br />
                    </div>

                    <div class="form-group">
                        <label style="font-weight: bold;" for="ID_USUARIO_BD">Usuario</label>
                        @Html.DropDownListFor(model => model.ID_USUARIO_BD, (SelectList)ViewBag.aUsuario, new { @class = "form-control" })<br />
                    </div>

                    <div class="form-group">
                        <label style="font-weight: bold;">Fecha de Compra</label>
                        <input type="date" class="form-control" name="Fecha_compra" required/><br />
                    </div>

                    <div class="form-group">
                        <label style="font-weight: bold;" for="ID_MARCA">Proveedor</label>
                        @Html.DropDownListFor(model => model.ID_PROVEEDOR, (SelectList)ViewBag.iProveedor, new { @class = "form-control" })<br />
                    </div>

                    <div class="form-group">
                        <label style="font-weight: bold;">Comentario</label>
                        <input type="text" class="form-control" name="Comentario" /><br />
                    </div>

                    <div class="form-group">
                        <label style="font-weight: bold;">Foto</label>
                        <input type="file" class="form-control" id="FOTO" name="upload" /><br />
                    </div><br>

                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="submit" class="btn btn-primary">Registrar</button>
                    <a class="btn btn-warning" href="@Url.Action("FACTURA","Factura")">Volver</a>

                </form>
            </div>
        </div>
    </div>
</div>