@model CONTROL_HERRAMIENTA_SUNCORP.Models.Departamento

@{
    ViewBag.Title = "Eliminardept";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

<div class="row" style="margin-top:30px">
    <div class="col-sm-12 text-center">
        <!-- Agregué la clase text-center -->
        <div class="panel panel-warning" style="display: inline-block;">
            <!-- Agregué display: inline-block -->
            <div class="panel-heading">
                <h4>ELIMINAR DEPARTAMENTO</h4>
            </div>
            <div class="panel-body">
                <div class="alert alert-danger">
                    ¿Desea eliminar el departamento @Html.DisplayTextFor(m => m.DECRIPCION_DEPARTAMENTO) ?
                </div>

                <form action="@Url.Action("Eliminardept","Departamento")" method="post">
                    <input type="hidden" class="form-control" name="Iddpt" value="@Html.DisplayTextFor(m => m.ID_DEPARTAMENTO)" />

                    <button type="submit" class="btn btn-danger" style="font-size: 20px; color: #FFFFFF;">
                        <i class="fas fa-trash-alt" aria-hidden="true"></i>
                    </button>
                    <a class="btn btn-warning" href="@Url.Action("Departamento","Departamento")" style="font-size: 20px; color: #FFFFFF;">
                        <i class="fas fa-arrow-left" aria-hidden="true"></i>
                    </a>

                </form>

            </div>
        </div>


    </div>
</div>


