@model CONTROL_HERRAMIENTA_SUNCORP.Models.Departamento

@{
    ViewBag.Title = "registrardept";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

<div class="row" style="margin-top:30px">
    <div class="col-sm-12 text-center">
        <!-- Agregué la clase text-center -->
        <div class="panel panel-warning" style="display: inline-block;">
            <!-- Agregué display: inline-block -->
            <div class="panel-heading">
                <h4>NUEVO DEPARTAMENTO</h4><br />
            </div>
            <div class="panel-body">
                <form action="@Url.Action("registrardept","Departamento")" method="post">
                    <div class="form-group">
                        <label style="font-weight: bold; float: left;"> Departamento</label>
                        <input type="text" class="form-control" name="DECRIPCION_DEPARTAMENTO" required style="height: 40px; font-size: 16px; background-color: #FFFFCC;" /><br />
                        @Html.ValidationMessageFor(model => model.DECRIPCION_DEPARTAMENTO, "", new { @class = "text-danger" })
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>

                    @if (ViewData["MENSAJEDEPT"] != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            @ViewData["MENSAJEDEPT"]
                        </div>
                    }

                    <button type="submit" class="btn btn-primary ml-2" style="font-size: 20px; color: #FFFFFF;">
                        <i class="fas fa-check" aria-hidden="true"></i>
                    </button>
                    <a class="btn btn-warning ml-2" href="@Url.Action("Departamento","Departamento")" style="font-size: 20px; color: #FFFFFF;">
                        <i class="fas fa-arrow-left" aria-hidden="true"></i>
                    </a>


                </form>


            </div>
        </div>


    </div>
</div>

