@model CONTROL_HERRAMIENTA_SUNCORP.Models.Tipoherramienta

@{
    ViewBag.Title = "registrartipo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    </head>

    <body>

        <h3 class="text-center mt-4 justify">Registrar tipo herrmienta</h3>
        <br />

        <div class="container mt-3 d-flex justify-content-center col-sm-12">
            <form action="@Url.Action("registrartipo","Tipo")" method="post">


                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>Tipo herramienta</label>
                        <input type="text" class="form-control" name="DECRIPCION_TIPO_HERRAMIENTA" required /><br />
                    </div>
                </div>

                @if (ViewData["MENSAJETIPO"] != null)
                {
                    <div class="alert alert-danger" role="alert">
                        @ViewData["MENSAJETIPO"]
                    </div>
                }

                <button type="submit" class="btn btn-primary ml-2" style="font-size: 20px; color: #FFFFFF;">
                    <i class="fas fa-check" aria-hidden="true"></i>
                </button>
                <a class="btn btn-warning ml-2" href="@Url.Action("Tipo","Tipo")" style="font-size: 20px; color: #FFFFFF;">
                    <i class="fas fa-arrow-left" aria-hidden="true"></i>
                </a>
            </form>


        </div>
    </body>
</html>


