@model CONTROL_HERRAMIENTA_SUNCORP.Models.Descargas

@{
    ViewBag.Title = "Eliminardescargas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row" style="margin-top:30px">
    <div class="col-sm-12 text-center">
        <!-- Agregué la clase text-center -->
        <div class="panel panel-warning" style="display: inline-block;">
            <!-- Agregué display: inline-block -->
            <div class="panel-heading">
                <h4>ELIMINAR DESECHO</h4><br />
            </div>
            <div class="panel-body">
                <div class="alert alert-danger">
                    ¿Desea eliminar la herramienta @Html.DisplayTextFor(m => m.ID_DESECHOS) ?
                </div>

                <form action="@Url.Action("Eliminardescargas","Descargas")" method="post">
                    <input type="hidden" class="form-control" name="Iddescargas" value="@Html.DisplayTextFor(m => m.ID_DESECHOS)" />

                    <button type="submit" class="btn btn-danger">Eliminar</button>
                    <a class="btn btn-warning" href="@Url.Action("descargas","Descargas")">Volver</a>
                </form>

            </div>
        </div>


    </div>
</div>


