@model CONTROL_HERRAMIENTA_SUNCORP.Models.Descargas

@{
    ViewBag.Title = "Registrardescarga";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

<div class="row" style="margin-top:25px">
    <div class="col-sm-12 text-center">
        <!-- Agregué la clase text-center -->
        <div class="panel panel-warning" style="display: inline-block;">
            <!-- Agregué display: inline-block -->
            <div class="panel-heading">
                <h4>NUEVA DESCARGAS</h4><br />
            </div>
            <div class="panel-body">
                <form action="@Url.Action("Registrardescarga", "Descargas")" enctype="multipart/form-data" method="post">


                    <div class="form-group">
                        <label for="ID_REGISTRO_SERIE_HERRAMIENTA">Numero serie</label>
                        @Html.DropDownListFor(model => model.ID_REGISTRO_SERIE_HERRAMIENTA, (SelectList)ViewBag.zSerie, new { @class = "form-control" })<br />
                    </div>

                    <div class="form-group">
                        <label for="ID_USUARIO_BD">Usuario</label>
                        @Html.DropDownListFor(model => model.ID_USUARIO_BD, (SelectList)ViewBag.tUsuario, new { @class = "form-control" })<br />
                    </div>

                    <div class="form-group">
                        <label>Fecha de desecho</label>
                        <input type="date" class="form-control" name="FECHA_DESECHO" required style="height: 40px; font-size: 18px; background-color: #FFFFCC;" /><br />
                    </div>

                    <div class="form-group">
                        <label>Comentario</label>
                        <input type="text" class="form-control" name="Comentario" style="height: 40px; font-size: 18px; background-color: #FFFFCC;" /><br />
                    </div>

                    <div class="form-group">
                        <label>Foto</label>
                        <input type="file" class="form-control" id="FOTO" name="upload" /><br />
                    </div><br>

                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="submit" class="btn btn-primary ml-2" style="font-size: 20px; color: #FFFFFF;">
                        <i class="fas fa-check" aria-hidden="true"></i>
                    </button>
                    <a class="btn btn-warning ml-2" href="@Url.Action("descargas","Descargas")" style="font-size: 20px; color: #FFFFFF;">
                        <i class="fas fa-arrow-left" aria-hidden="true"></i>
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>

